*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(0,0,0,0.02) !important;
  font-family: Arial !important;
}
.nav-bg{
    background-color: blueviolet;
}
.service-btn{
    color: white !important;
    border: 1px solid white !important;
}

.input-search{
    width: 340px !important;
}  
.items{
    margin-bottom: 12px;
}
.add-new{
  text-decoration: none;
}
.check-btn{
  border-radius: 41px !important;
  border: 2px solid rgb(138, 135, 135) !important;
}
.bg-input{
  border: none !important;
  background: rgba(0,0,0,0.02) !important;
}

.input-container {
  position: relative;
  display: inline-block;
}


.bg-input {
  padding-right: 30px;
  width: 200px; 
  height: 30px; 
}


.icon {
  position: absolute;
  top: 76%;
  right: 15px; 
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
}


.input-date {
  position: relative;
  display: inline-block;
}


.bg-input {
  padding-right: 30px; 
  width: 200px; 
  height: 30px; 
}


.icons {
  position: absolute;
  top: 76%;
  right: 15px; 
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
}


.search-container {
  position: relative;
  display: inline-block;
}


.bg-input {
  padding-right: 30px; 
  width: 200px; 
  height: 30px; 
}


.search-icon {
  position: absolute;
  top: 58%;
  right: 15px; 
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
}
.forms-check-input:checked{
  background-color: #cbccce !important;
    border-color: #c9cbce !important;
    height: 1.4em !important;
    width: 2.4em !important;
}
.icon-img{
  width: 26px !important;
  height: 20px !important;
}

#textContainer {
  display: flex;
  flex-wrap: wrap;
}

.text-box {
  display: flex;
  margin: 5px;
  padding: 6px;
  border: 2px solid rgb(138, 135, 135);
  border-radius: 20px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}

.close-button {
  cursor: pointer;
  color: grey;
  margin-left: 10px;
}
@media screen and (max-width:550px){
  .search-container{
    margin-bottom: 12px;
  }
  .form-check{
    margin-left: 12px;
  }
  .logos{
    display: none;
  }
  .navbar-nav{
    margin-top: 12px;
  }
}